body{
    display: flex;
    flex-direction: column;
    height: 85vh;
    font-family:monospace;
    font-weight: bold;
}
header{
    height: 16vh;
    background: white;
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:row;
}

.logo img{
    height: 4vh;
    margin: 6vh;
    border: solid;
}

.logo-text{

}


.button{
    background: greenyellow;
    height: 10vh;
    width: 10vh;
    margin: 3vh;
    border-radius:50%;
    text-align: center;
    line-height: 10vh;
    font-size: 2vh;
}

.blank-button{
    background: white;
    height: 10vh;
    width: 10vh;
    margin: 3vh;
    border-radius:50%;
    text-align: center;
    line-height: 10vh;
    font-size: 2vh;
}

a{
    text-decoration: none;
    color: black;
    
}


main{
    flex:1;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.scroll{
    overflow: auto;
}

.max-speed{
    font-size: 20vh;
    font-style:italic;
}

.max-speed-text{
    font-size:3vh;
    font-weight:900;
}

table{
    width: 90%;
    border-collapse:collapse;
    font-size: 3vh;
}

th{
    background: black;
    color: white;
}

tr{
    background: lightgray;
    height:10vh;
    border: solid white 1vh;
}

.table-place{
    text-align:center;
    width: 8vh;
}

.table-name{
    text-align:left;
}

.table-picture{
    text-align:center;
    line-height:0vh;
    width: 10vh;
}

.table-picture img{
    height: 8vh;
    width: auto;
}


.table-speed{
    text-align: center;
}

.account-name{
    font-size:4vh;
}

.account-info{
    font-size:2vh;
}

footer{
    height: 16vh;
    background: white;
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:row;
}
.active{
    height:14vh;
    width:14vh;
    line-height: 14vh;
    font-size:7vh;
}